#box1 {
    background-color: red;
    height: 40px;
    width: 40px;
}

#box2 {
    background-color: blue;
    height: 40px;
    width: 40px;
}

#box3 {
    background-color: green;
    height: 40px;
    width: 40px;
}